body {
  font-family: 'Raleway', sans-serif;
  background-color: #EAFDE6;
  background-repeat: repeat-x;
  background-position: -25%;
  margin: 0;
}

h1 {
  font-family: 'Luckiest Guy', sans-serif;
  text-align: center;
  font-size: 7em;
  color: #88C425;
  margin: 5% 0 0 0;
  text-shadow: 0.03em 0.03em 0 rgba(35, 50, 25, 0.15);
  letter-spacing: .05em;
}

.definition {
  letter-spacing: .1em;
}

h3 {
  text-align: center;
  font-size: 2em;
  color: #1B676B;
  margin: 0 0 1% 0;
  font-weight: 700;
}

h2 {
  font-family: 'Luckiest Guy', sans-serif;
  text-align: center;
  font-size: 3em;
  color: #88C425;
  margin: 2% 0 0 0;
}

h4 {
  text-align: center;
  font-size: 1.5em;
  color: #6aa607;
  margin: 0 0 1% 0;
  font-weight: 700;
}

table {
  margin: auto;
  width: 100%;
}

.section th {
  background-color: #1B676B;
  color: #FFF;
  width: 33%;
}

.section td {
  width: 33%;
  text-align: center;
  background-color: #eefce3;
  padding: .5% 0 1% 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow:hidden;
  background-color: #FFF;
  height: 100vh;
  box-shadow: 0px 0px 20px #333;
}

.button:hover {
  box-shadow: 0 0 0 0;
  padding: 3px 0px 0px 0px;
}

.button {
  position: relative;
  margin: auto;
  padding-bottom: 3px;
  border-radius: 5px;
  transition: padding 0.1s, box-shadow 0.1s, top 0.1s;
  width: 60%;
}

.green {
  background-color: #6aa607;
  box-shadow: 0 2px 0 #427e00;
}

.yellow {
  background-color: #ffb904;
  box-shadow: 0 2px 0 #d79100;
}

.red {
  background-color: #db2f1c;
  box-shadow: 0 2px 0 #7c1509;
}

.b_link {
  text-decoration: none;
  color: #FFF;
  font-weight: 500;
  padding: 2%;
  width: 100%;
}

.section {
  width: 100%;
  margin: 3%;
}

.floater {
  z-index: 5;
  display: inline;
  background-color: #6aa607;
  text-decoration: none;
  font-weight: 500;
  color: #FFF;
  padding: 1%;
}

hr {
  margin: 2% 0;
  opacity: .25;
}

.col {
  float: left;
  text-align: center;
}

.third {
  width: 27%;
}

.two-third {
  width: 60%;
}

.half {
  width: 50%;
}

.full {
  width: 94%;
}

.quarter {
  width: 25%;
}

.dropbtn {
    background-color: #6aa607;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: fixed;
    left: 12%;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.select-style {
  margin: auto;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("down-arrow.png") no-repeat 90% 50%;
    background-size: 15%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

input {
  border:none;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1em;
}

.bold {
  font-weight: 700;
}

.center {
  margin: auto;
  text-align: center;
}

.user-form {
  width: 50%;
  margin: auto;
  text-align: center;
}

.user-form input {
  border: solid 1px #DDD;
  display: block;
  margin: 2% auto;
}

ol {
  padding: 0;
}

ul {
  list-style: none;
  margin: auto;
}

.player {
  margin: auto;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 700;
  color: #3e8e41;
  padding: 1%;
  text-align: center;
}

.players {
  overflow: auto;
  margin: auto;
  width: 50%;
}

.button input {
  border: none;
  height: 1.75em;
}

#definition_content {
  width: 80%;
  font-size: 1.5em;
}

.error {
  font-weight: 700;
  color: red;
  margin-top: 1%;
}

.result-table {
  width: 90%;
  margin: 1% auto 2% auto;
}

.result-table th {
  background-color: #1B676B;
  color: #FFF;
  width: 25%;
}

.result-table td {
  width: 25%;
  text-align: center;
  background-color: #eefce3;
  padding: .5% 0 1% 0;
}

.radios {
  font-size: 1.5em;
}

.radio {
  display: block;
  margin: auto;
}

.end-table {
  width: 90%;
  margin: 1% auto 2% auto;
}

.end-table th {
  background-color: #1B676B;
  color: #FFF;
  width: 25%;
}

.end-table td {
  width: 25%;
  text-align: center;
  background-color: #eefce3;
  padding: .5% 0 1% 0;
}

.votes {
  list-style: square;
  width: 60%;
}

.votes li {
  float: left;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

