<h1>Results Page</h1>

<% if @final_points_hash.values[0] == @final_points_hash.values[1] %>
  <h2>It's a tie! Bunk harder next time.</h2>
<% else %>
  <h2>Congratulations, <%=@final_points_hash.keys.first%>!</h2>
<% end %>

<table class="end-table">
  <tr>
    <th>Name</th>
    <th>Total Points</th>
  </tr>
<% @final_points_hash.each do |name, points| %>
  <tr>
    <td><%= name %></td>
    <td><%= points %></td>
  </tr>
<% end %>
</table>

<div class="green button center quarter"><%= link_to "Back to Game Lobby", root_path, class: "b_link" %></div>
