body {
  font-family: 'Raleway', sans-serif;
  background-color: #EAFDE6;
}

h1 {
  font-family: 'Luckiest Guy', sans-serif;
  text-align: center;
  font-size: 5em;
  color: #88C425;
  margin: 5% 0 0 0;
}

h3 {
  text-align: center;
  font-size: 2em;
  color: #1B676B;
  margin: 0 0;
  font-weight: 700;
}

h2 {
  font-family: 'Luckiest Guy', sans-serif;
  text-align: center;
  font-size: 3em;
  color: #88C425;
}

table {
  margin: auto;
  width: 70%;
}

td {
  width: 33%;
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
}
